.note :hover{
    cursor: pointer;
}

.noteTitle {
    text-align: center;
    margin: 2%;
}

.addNote:hover{
    cursor: pointer;
}

.mine{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.note {
    margin: 1rem 0 2rem 0;
}

.card-note {
    max-height: 200px;
    overflow:auto;
}