<span class="noteTitle">
  <h2> Mes notes </h2>
</span>
<table class="table table-striped table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col"></th>
      <th scope="col" colspan="2">Liste de notes : </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes" class="note">
      <td style="width:5%; text-align: center;" (click)="deleteNote(note.id_note)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </td>
      <td routerLink="/mesnotes/details-note/{{note.id_note}}">
        {{note.title_note}}
      </td>
      <td class="text-right"  routerLink="/mesnotes/details-note/{{note.id_note}}">
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <p>side nav works</p>
  </mat-sidenav>
  <div class="example-container">
    <button class="mine" mat-fab color="primary" (click)="gotoAddNew()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-sidenav-container>