.note :hover{
    cursor: pointer;
}

.noteTitle {
    text-align: center;
    margin: 2%;
}

.addNote:hover{
    cursor: pointer;
}

.mine{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.note {
    margin: 1rem 0 2rem 0;
}

.card-body-note {
    max-height: 200px;
    overflow:auto;
}

.card-note {
    box-shadow: 12px 12px 20px 1px rgba(87, 87, 87, 0.2);
}