<!-- 
<table class="table table-striped table-hover">
	<thead>
		<tr class="table-primary">
			<th scope="col">Date</th>
			<th scope="col">Débit</th>
			<th scope="col">Crédit</th>
			<th scope="col">Motif</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let epargne of epargnes" class="">
			<td>
				{{epargne.date_epargne}}
			</td>
			<td>
				{{epargne.montant_epargne < 0 ? (epargne.montant_epargne | formatNumberSpace) : '' }}
			</td>
			<td>
				{{epargne.montant_epargne > 0 ? (epargne.montant_epargne | formatNumberSpace) : '' }}
			</td>
			<td>
				{{epargne.motif_epargne}}
			</td>
		</tr>
		<tr class="table-primary">
			<td class="text-center" colspan="2">
				<b>Total débit : </b> {{ sub_total_debit | formatNumberSpace }}
			</td>
			<td colspan="2">
				<b>Total débit : </b> {{ sub_total_credit | formatNumberSpace }}
			</td>
		</tr>
		<tr class="table-primary">
			<td class="text-center" colspan="4">
				<b>Solde total : {{ sub_total_credit + sub_total_debit | formatNumberSpace }} <i class="fa fa-eur" aria-hidden="true"></i> </b>
			</td>
		</tr>
	</tbody>
</table>
-->
