<div class="container my-cards">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">Mes épargnes</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Détails de mes épargnes.</p>
        </div>
        <div class="card-footer text-muted">
          <a routerLink="/mescomptes/mesepargnes" class="btn btn-primary">Y aller</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
            <h5 class="card-title">Mes dépenses</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Détails de mes dépenses.</p>
        </div>
        <div class="card-footer text-muted">
          <a routerLink="/mescomptes/mesdepenses" class="btn btn-primary">Y aller</a>
        </div>
      </div>
    </div>
  </div>
</div>