<table>
  <tr *ngFor="let element of elements" >
    <td *ngIf="element.zone == zone">
      <label class="switch">
          <input type="checkbox" [checked]="element.done" (click)="makeDoneElement(element)"/>
          <span class="slider round"></span>
      </label>
    </td>
    <td *ngIf="element.zone == zone">
      <label>{{element.libelle}} </label>
    </td>
    <td *ngIf="element.zone == zone">
      <span><i class="fa fa-times-circle fa-lg" aria-hidden="true" (click)="deleteElement(element.id_element)"></i></span>
    </td>
  </tr>
</table>
<!-- <div class="example-container">
  <h2>Ma liste : </h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list2"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box2" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div> -->
