<ul class="nav nav-tabs my-li">
	<li class="nav-item" *ngFor="let type of types_epargnes">
		<a class="nav-link"(click)="showMe(type.id_type)"> {{type.value_type}} </a>
	</li>
</ul>
<!-- First Graph -->
<div *ngFor="let type of types_epargnes">
	<div *ngIf="activeTab == type.id_type">
		<div class="flex-item">
			<div style="display: block;">
			<canvas baseChart width="400" height="200"
							[datasets]="lineChartData"
							[labels]="lineChartLabels"
							[options]="lineChartOptions"
							[colors]="lineChartColors"
							[legend]="lineChartLegend"
							[chartType]="lineChartType"
							[plugins]="lineChartPlugins"></canvas>
			</div>
		</div>
	</div>
</div>