<h2 mat-dialog-title>Ajouter une epargne :</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Type epargne : </label>
        <select class="form-control" name="typeEp" [(ngModel)]="data.type_epargne">
					<option *ngFor="let type of data.types" [value]="type.value_type">{{type.value_type}}</option>
				</select>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <!-- <label>Date :</label>
        <input type="text" class="form-control" placeholder="Date ..." name="date" [(ngModel)]="data.date_epargne"> -->
        <mat-form-field>
          <input matInput [matDatepicker]="dp" placeholder="Date" [(ngModel)]="data.date_epargne">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Montant epargne :</label>
        <input numeric numericType="decimal" type="text" class="form-control" placeholder="Montant ..." name="montant" [(ngModel)]="data.montant_epargne">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label>Motif epargne :</label>
        <input type="text" class="form-control" placeholder="Motif ..." name="motif" [(ngModel)]="data.motif_epargne">
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close *ngIf="!data.id_epargne" (click)="cancelDialog()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" *ngIf="!data.id_epargne" cdkFocusInitial>Ajouter</button>

  <button mat-button [mat-dialog-close]="data" *ngIf="data.id_epargne" (click)="deleteEpargne(data.id_epargne)">Supprimer</button>
  <button mat-button [mat-dialog-close]="data" *ngIf="data.id_epargne" cdkFocusInitial>Editer</button>

</mat-dialog-actions>