<div class="container">
  <div class="row text-center">
		<div class="col-12">
			<h3>Mes épargnes </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<div class="form-group">
				<label for="yearSelection">Année : </label>
				<select class="form-control" id="yearSelection">
					<option>2019</option>
					<option>2018</option>
					<option>2017</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-4">
			<h4>Total débit : {{ total_debit | formatNumberSpace }} </h4>
		</div>
		<div class="col-4">
			<h4>Total crédit : {{ total_credit | formatNumberSpace }} </h4>
		</div>
		<div class="col-4">
			<h4>Solde total : {{ total_credit + total_debit | formatNumberSpace }} </h4>
		</div>
	</div>
	<div class="row" *ngFor="let epargne of mesepargnes">
		<div class="col-12">
			<h4 class="text-primary">{{epargne.type}} : </h4>
			<app-type-epargne [epargnes]="epargne.epargnes" #child></app-type-epargne>
			<br>
		</div>
	</div>
</div>
<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<p>side nav works</p>
	</mat-sidenav>
	<div class="example-container">
		<button class="mine" mat-fab color="primary" (click)="addNewEpargne()">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</mat-sidenav-container>